<ion-content [fullscreen]="true">
  <div class="body">
    <div id="container">
     <div id="title">
      <ion-text>As a driver</ion-text>
     </div>

     <form class="form">
       <ion-input label="Enter your phone number" color="success" labelPlacement="floating" fill="outline"  placeholder="+234"></ion-input>
       <ion-input label="Create your username" color="success" type="password" fill="outline" labelPlacement="floating" placeholder=""></ion-input>
      

      <ion-input label="Upload picture" color="success" type="file" fill="outline" labelPlacement="floating"></ion-input>

      <ion-button routerLink="/home/dashboard" shape="round" expand="block"  class="sign-up" color="success" fill="outline">Submit</ion-button>
     </form>

      
    </div>
  </div>
  </ion-content>