#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    //height: 100%;
  
    //background-color: #F2C94C;
  
  }

ion-row {
    margin-top:20px;
    margin-bottom: 20px;
}