<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    

    <ion-grid>
      <ion-row>
        <ion-col><ion-img routerLink="/route-choice" src="assets/image/route-choice.png"></ion-img> </ion-col>
        <ion-col><ion-img src="assets/image/matching-route.png"></ion-img></ion-col>
        <ion-col><ion-img src="assets/image/share-route.png"></ion-img></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-img src="assets/image/access-route.png"></ion-img> </ion-col>
        <ion-col><ion-img src="assets/image/assign-route.png"></ion-img></ion-col>
        <ion-col><ion-img src="assets/image/route-page.png"></ion-img></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-img src="assets/image/manager-list.png"></ion-img> </ion-col>
        <ion-col><ion-img src="assets/image/security-dashboard.png"></ion-img></ion-col>
        <ion-col><ion-img src="assets/image/report-dashboard.png"></ion-img></ion-col>
      </ion-row>
    </ion-grid>

    
  </div>
  <div class="body">
   
  </div>
  </ion-content>