<ion-content [fullscreen]="true">
  <div class="body">
    <div id="container">
     <div id="title">
      <ion-text>Are you a</ion-text>
     </div>

     <p>Matching route driver: this type are  private vehicle owner driver</p>

     <p>Share route driver: this type are  driver that load from either terminal, garage, ferry station, interchange </p>

     <ion-button routerLink="/auth/signup-driver" expand="block"  class="sign-up" color="warning" >Share Route Driver</ion-button>
     <ion-button routerLink="/auth/signup-driver" expand="block" class="ion-margin-top" color="success">Matching Route Driver</ion-button>

      
    </div>
  </div>
  </ion-content>