<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
<div class="body">
  <div id="container">
    <!-- <ion-img class="car-logo" src="assets/svg/car-logo.png"></ion-img> -->
    <ion-button routerLink="/auth/signup" shape="round" expand="block"  class="sign-up" color="light">Sign Up</ion-button>
    <ion-button routerLink="/auth/login" shape="round" expand="block" class="ion-margin-top" color="success">Log In</ion-button>
    <div>
    </div>
  </div>
</div>
</ion-content>