<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="share">
      <!-- <ion-icon name="play-circle"></ion-icon> -->
      New Route
    </ion-tab-button>
    <ion-tab-button tab="live-loading">
      <!-- <ion-icon name="radio"></ion-icon> -->
      Live Loading
    </ion-tab-button>
    <ion-tab-button tab="loading-record">
      <!-- <ion-icon name="radio"></ion-icon> -->
      Record
    </ion-tab-button>
    <ion-tab-button tab="performance">
      <!-- <ion-icon name="radio"></ion-icon> -->
      Performance
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>