.title {
    font-size: 1.2rem;
    font-weight: bold
}

.subtitle {
    font-size: 1rem;
    font-weight: bold
}

.section-title {
    font-size: 1rem;
    font-weight: bold
}

.content {
    margin-top: 3rem;
}

// ::ng-deep ion-accordion-group{
//     ion-accordion {
//        //background-color: blue;
//        ion-item.ion-color-light {
//            --ion-color-base: green !important;
//         .ion-color-light {
//             //background-color: green !important
//         }
//        }
//     }
// }
.button {
    margin-top: 0px !important;
    .search-button {
        font-size: 1rem;
        
    }
}