<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="route-info">
      <!-- <ion-icon name="play-circle"></ion-icon> -->
      New Route
    </ion-tab-button>
    <ion-tab-button tab="matching-status">
      <!-- <ion-icon name="radio"></ion-icon> -->
      Status
    </ion-tab-button>
    <ion-tab-button tab="matching-record">
      <!-- <ion-icon name="radio"></ion-icon> -->
      Record
    </ion-tab-button>
    <ion-tab-button tab="matching-performance">
      <!-- <ion-icon name="radio"></ion-icon> -->
      Performance
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>