<ion-content [fullscreen]="true">
  <div class="body">
    <div id="container">
     <div id="title">
      <ion-text>You are a passenger</ion-text>
     </div>

     <form class="form">
       <ion-input label="Enter your phone number" color="success" labelPlacement="floating" fill="outline"  placeholder="+234"></ion-input>
       <ion-input label="Create your username" color="success" type="password" fill="outline" labelPlacement="floating" placeholder=""></ion-input>
      

       <div class="upload-container">
        @if(!fileString) {
          
          <ion-img  (click)="addImage()" class="upload-img" src="assets/image/upload-thumbnail.svg">
          </ion-img>
  
        } @else {
  
          <ion-img class="upload-img" [src]="fileString"></ion-img>
  
        }
      </div>

      <ion-button routerLink="/home/dashboard" shape="round" expand="block"  class="sign-up" color="success" fill="outline">Submit</ion-button>
     </form>

      
    </div>
  </div>
  </ion-content>